<!DOCTYPE html>
<html lang="en">

<head>
  <title>About</title>
  <link rel="icon" href="/img/favicon.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" src="./img/cvpic.jpg">
    <div class="about">
      <a target="_blank" href="https://www.linkedin.com/in/milen-minchev-0049a213b/"><img src="./img/linkedin.png"
          alt="linkedin"></a>
      <a target="_blank" href="https://github.com/gixxera"><img src="./img/github.png" alt="github"></a>
      <a target="_blank" href="https://bit.ly/2YK4yx7"><img src="./img/port.png" alt="github"></a>
    </div>
  </div>

  {{>footer}}
</body>

</html>