* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(177, 177, 177, 0.8)), to(rgba(110, 146, 253, 0.8))), url('../img/bg.png');
  background-image: -o-linear-gradient(left top, rgba(177, 177, 177, 0.8), rgba(110, 146, 253, 0.8)), url('../img/bg.png');
  background-image: linear-gradient(to right bottom, rgba(177, 177, 177, 0.8), rgba(110, 146, 253, 0.8)), url('../img/bg.png');
  background-size: cover;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer {
  color: #141414;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
  font-size: 20px;
}

header {
 margin-top: 16px;
 margin-bottom: 48px; 
}

h1 {
  font-size: 64px;
  margin-bottom:  16px;
}

header a {
  color: #141414;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 250px;
  border-radius: 20px;
  opacity: 0.6;
}

input {
  border: 1px solid #cccccc;
  padding: 8px;
  margin: 15px 0px;
  border-radius: 20px;
  width: 200px;
  -webkit-transition: width .35s ease-in-out;
  -o-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

input:focus {
  width: 350px;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: #fff;
  padding: 8px;
  border-radius: 20px;
}

.about {
  margin-top: 15px;
}

.about > a {
  text-decoration: none;
  color: #888888;
  padding: 15px;
}

a  img {
  width: 50px;
}

#forecast-container {
  width: 400px;
}

#icon {
  width: 300px;
}

.forecast {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mess2 {
  margin-top: 5px;
}

#mess3 {
  font-size: 90px;
  margin-top: 50px;
}

.temps {
  font-size: 40px;
  color: #fff;
  margin-bottom: 10px;
}

.msg {
  color: #fff;
}

#daily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 20px;
  text-align: center;
}

#daily > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0 5px;
}

::-webkit-scrollbar{
  height: 10px;
  width: 4px;
  background: rgb(234, 224, 255);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal{
  background: rgb(118, 166, 255);
  border-radius: 10px;
}

@media all and (max-width: 400px) {
  input:focus {
    width: 200px;
  }
  #daily {
    width: 100%;
  }
  #icon {
    width: 80%;
    margin-bottom: 45px;
    height: 200px;
  }
  .forecast {
    width: 100%;
  }
  #forecast-container {
    width: 100%;
  }
}